@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --dark-bg-color: #1F2937;
    --white: #f9faf8;
    --secondary-white: #e5e7eb;
    --btn-color: #3882f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    height: 100%;
}

h1, h2 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

h3 {
    font-size: 28px;
    font-style: italic;
    font-weight: 300;
    color: var(--dark-bg-color);
}

h4 {
    color: var(--dark-bg-color);
    font-size: 18px;
}

/* -- Utilities -- */
.container {
    width: 1100px;
    padding: 0 240px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 40px;
}

.btn {
    display: inline-block;
    background-color: var(--btn-color);
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 5px;
}

.btn-outline {
    display: inline-block;
    padding: 5px 30px;
    border: 3px solid white;
    border-radius: 10px;
}

/* -- Navbar -- */
.navbar {
    height: 70px;
    background-color: var(--dark-bg-color);
    color: var(--white);
}

.navbar a {
    padding-left: 30px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar h1 {
    font-size: 24px;
}

/* -- Hero Section -- */
.hero {
    height: 500px;
    background-color: var(--dark-bg-color);
    color: var(--white);
}

.hero img {
    height: 400px;
}

.hero-left {
    padding-right: 100px;
}

.hero h1 {
    font-size: 48px;
    color: var(--white);
}

.hero p {
    font-size: 18px;
    color: var(--secondary-white);
}

/* -- Information Section -- */
.info {
    height: 500px;
    background-color: #fff;
    margin: auto 80px;
}

.info h2 {
    text-align: center;
    margin: 50px auto;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 200px;
}

.info-box {
    height: 150px;
    width: 150px;
    border: 3px solid var(--btn-color);
    border-radius: 10px;
}

.info-text {
    text-align: center;
    margin-top: 20px;
}

/* -- Testimonials -- */
.testimonials {
    height: 400px;
    background-color: var(--secondary-white);
    padding: 0 100px;
}

.testimonial-item {
    display: flex;
    flex-direction: column;
}

.testimonial-item h3 {
    margin: 20px auto;
}

.testimonial-item h4 {
    align-self: flex-end;
}

/* -- Call to Action -- */
.cta {
    height: 400px;
}

.cta-box {
    background-color: var(--btn-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    width: 100%;
    color: white;
    border-radius: 10px;
}

.cta h4 {
    color: white;
    margin-bottom: -10px;
}

/* -- Footer -- */
.footer {
    height: 100px;
    background-color: var(--dark-bg-color);
    color: white;
    text-align: center;
}

.footer .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.footer p {
    margin: -2px 0;
}












